[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pycodestyle = "*"
autopep8 = "*"
flake8 = "*"
mypy = "*"
pandas = "*"
pylint = "*"
yapf = "*"
numpy = "*"
python-language-server = "*"

[requires]
python_version = "3.6"
